<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (min-width: 800px) and (min-device-width: 600px)'
          href='/stylesheets/wide.css'/>
    <link rel='stylesheet'
          type='text/css'
          media='only screen and (max-width: 480px)'
          href='/stylesheets/smartphone.css'/>
</head>
<body>
<h1>
    End of Random Play:
</h1>

<div>
    Successful answers = <span id="score"><%= score %></span>
</div>

<p>
    You answered all questions. You are a champion.
</p>

<p>
    <a href="/quizzes"><button>Go Back</button></a>
</p>

</body>
</html>

